<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c1fa1e0d-7833-4df2-874d-1be4fb57c6dc/resourcegroups/DDACAssignment-TP034540-WestUS/providers/Microsoft.Web/sites/WebApplication120180706104436</ResourceId>
    <ResourceGroup>DDACAssignment-TP034540-WestUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>webapplication120180706104436.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication120180706104436.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webapplication120180706104436</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication120180706104436</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChatbotDatabaseConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ddacassignmenttp034540.database.windows.net;Initial Catalog=DDACAssignment;User ID=jonathan;Password=ChatbotDatabase123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ChatbotDatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ddacassignmenttp034540.database.windows.net;Initial Catalog=DDACAssignment;User ID=jonathan;Password=ChatbotDatabase123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChatbotDatabaseConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>